<html>
<head>
<title>VAN: {{name}}</title>
<link rel="stylesheet" href="/stylesheets/style.css"></link>
<script type="text/javascript">
window.onload = function() {
	var input = document.getElementById('embed');
	input.addEventListener('click',function() {
		input.select();
	},true);
	input.select();
}
</script>
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{name}}">
<meta name="twitter:description" content="{{name}}">
<meta name="twitter:image" content="/image/{{dot}}">
</head>
<body>
	<a href="/"><img width="630" height="324" src="/image/{{dot}}"/></a>
	<input id="embed" value="{{host}}/van/{{dot}}">
	<p>{{name}}</p>
	<p>{{street}}</p>
	<p>{{city}}, {{state}} {{zip}}</p>
</body>
</html>
