@font-face {
  font-family: 'league-gothic';
  src: url('/stylesheets/leaguegothic-regular-webfont.ttf');
}
body {
  padding: 50px;
  font: 24px league-gothic,serif;
  letter-spacing: 0px;
  text-align: center;
}

a {
  color: #00B7FF;
}
img {
	margin:0 auto;
	display: block;
}
p {
	width: 245px;
	margin:5px auto;
	padding:0;
	text-align: left;
	line-height: 22px;
	color:#EEE;
}
input {
	margin:0 auto;
	border:0;
	font: 24px league-gothic,serif;
	color:#EEE;
	line-height: 27px;
	height:30px;
	width:245px;
}

h1 {
	color:#EEE;
}